# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
*.env
venv/
env/
ENV/
.Python

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code or other editor stuff
.vscode/
.idea/

# Mac stuff
.DS_Store

# Docker
docker-compose.override.yml
